<div class="ui center aligned basic segment">
  <div class="ui fluid category search">
    <div class="ui icon input">
      <patient-search (searchEvent)="searchEvent($event)">
      </patient-search>
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <div class="ui horizontal divider">
    <h2 class="ui center aligned icon header">
      Patients' Names Starting with
    </h2>
  </div>
  <div class="ui stackable two column mobile only grid container">
    <div class="row">
      <div class="mobile only column">
        <div class="ui mini pagination menu">
          <div *ngFor="let a of alpha; let i = index">
            <alpha-menu *ngIf="menuTest(i)==0" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
            </alpha-menu>
          </div>
        </div>
      </div>
      <div class="mobile only column">
        <div class="ui mini pagination menu">
          <div *ngFor="let a of alpha; let i = index">
            <alpha-menu *ngIf="menuTest(i)==1" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
            </alpha-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mobile only column">
        <div class="ui mini pagination menu">
          <div *ngFor="let a of alpha; let i = index">
            <alpha-menu *ngIf="menuTest(i)==2" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
            </alpha-menu>
          </div>
        </div>
      </div>
      <div class="mobile only column">
        <div class="ui mini pagination menu">
          <div *ngFor="let a of alpha; let i = index">
            <alpha-menu *ngIf="menuTest(i)==3" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
            </alpha-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="ui computer only column">
      <div class="ui mini pagination menu">
        <alpha-menu *ngFor="let a of alpha; let i = index" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
        </alpha-menu>
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="row">
      <div class="ui tablet only column">
        <div class="ui mini pagination menu">
          <div *ngFor="let a of alpha; let i = index">
            <alpha-menu *ngIf="i<13" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
            </alpha-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ui tablet only column">
        <div class="ui mini pagination menu">
          <div *ngFor="let a of alpha; let i = index">
            <alpha-menu *ngIf="i>=13" [alpha]="a" [index]="i" (alphaFilter)="filterByAlpha($event)">
            </alpha-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="ui raised very padded text container segment">
    <div class="ui fluid vertical animated large button" tabindex="0" (click)="addForm()">
      <div class="hidden content">Add Patient </div>
      <div class="visible content">
        <i class="large icons">
          <i class="user icon"></i>
        <i class="red corner plus icon"></i>
        </i>
      </div>
    </div>
    <div *ngIf="add == 'insert'" class="ui raised segment">
      <patient-add (add)="postAdd()"></patient-add>
    </div>
    <br>
    <br>
    <div class="ui tall stacked very padded segment">
      <div class="ui stackable two column divided grid container">
        <div class="six wide column">
          <h3>Name</h3>
        </div>
        <div class="five wide column">
          <h3>Next Appointment</h3>
        </div>
        <div class="five wide column">
          <h3>Action</h3>
        </div>
      </div>
      <sui-accordion [closeOthers]="true">
        <sui-accordion-panel *ngFor="let patient of entities">
          <div title>
            <div class="ui stackable two column divided grid container">
              <div class="six wide column">
                <patient-name [patient]="patient"></patient-name>
              </div>
              <div class="five wide column">
                <patient-date [patient]="patient"></patient-date>
              </div>
              <div class="five wide column">
                <patient-action [patient]="patient" (action)="patientAct($event)"></patient-action>
              </div>
            </div>
          </div>
          <div content>
            <patient-update *ngIf="patientAction == 'update'" (update)="postUpdate()" [patient]="patient"></patient-update>
            <patient-del *ngIf="patientAction == 'del'" [patient]="patient" (del)="cancel($event)"></patient-del>
            <patient-view *ngIf="patientAction == 'view'" [patient]="patient"></patient-view>
          </div>
        </sui-accordion-panel>
      </sui-accordion>
    </div>
  </div>-->
  <div class="ui tall stacked very padded segment">
    <table class="ui small celled striped selectable table">
      <thead>
        <tr class="center aligned">
          <th>Name</th>
          <th>Date Joined</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of entities" class="center aligned">
          <td>
            <patient-name [patient]="patient"></patient-name>
          </td>
          <td>
            <patient-date [patient]="patient"></patient-date>
          </td>
          <td>
            <patient-action [patient]="patient"></patient-action>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>