<h3 class="ui center aligned header">Statistics</h3>
<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="three column row">
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui segment">Content</div>
  </div>
  <div class="six wide column">
    <div class="ui segment">Content</div>
  </div>
</div>
