<button class="primary small ui icon button" (click)="patientAction('update')">
    <i class="write icon">
    </i>
  </button>
  <!--<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Example</div>
    <div class="content">
        <p>{{ context.data }}</p>
    </div>
    <div class="actions">
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')">OK</button>
    </div>
</ng-template>-->
<button class="negative small ui icon button" (click)="patientAction('del')">
    <i class="trash icon">
    </i>
</button>
<button class="small ui icon button" (click)="patientAction('view')">
    <i class="search icon">
    </i>
</button>