<button class="primary small ui icon button" (click)="patientAction('update')">
    <i class="icons">
        <i class="user icon"></i>
        <i class="red corner write icon"></i>
    </i>
  </button>
<button class="negative small ui icon button" (click)="patientAction('del')">
    <i class="icons">
        <i class="user icon"></i>
        <i class="red corner remove icon"></i>
    </i>
</button>
<button class="small ui icon button" (click)="patientAction('view')">
    <i class="icons">
        <i class="user icon"></i>
        <i class="red corner search icon"></i>
    </i>
</button>