<div class="ui centered link cards">
  <div class="card">
    <div class="content">
      <div class="header">{{patient.firstName}} {{patient.lastName}}</div>
      <div class="meta">
        <a>CIN: {{patient.cin}}</a>
      </div>
      <div class="description">
        <i class="mail square icon" *ngIf="patient.email != ''"></i>
        <p *ngIf="patient.email != ''">
          {{patient.email}}
        </p>
        <i class="call square icon" *ngIf="patient.gsm != ''"></i>
        <p *ngIf="patient.gsm != ''">
          {{patient.gsm}}
        </p>
        <p *ngIf="patient.gsm2 != ''">
          {{patient.gsm2}}
        </p>
        <i class="home icon" *ngIf="testHome() == 'yes'"></i>
        <p *ngIf="patient.address != ''">
          Address: {{patient.address}}
        </p>
        <p *ngIf="patient.city != ''">
          City: {{patient.city}}
        </p>
        <div *ngIf="patient.country != ''">
          <p *ngIf="patient.country == 'tn'">Country: Tunisia</p>
          <p *ngIf="patient.country != 'tn'">Country: {{patient.country}}</p>
        </div>
        <p *ngIf="testSsi() == 'yes'">
          SSI Type: {{patient.ssiType}} <br>SSI ID: {{patient.ssiNum}}
        </p>
      </div>
    </div>
    <div class="extra content">
      <span *ngIf="patient.birthday != ''" class="right floated">
        Born {{patient.birthday}}/{{patient.birthmonth}}/{{patient.birthyear}} in {{patient.birthCity}}
      </span>
      <span *ngIf="patient.gender != ''">
        <i *ngIf="patient.gender == 'male'" class="male icon"></i>
        <i *ngIf="patient.gender == 'female'" class="female icon"></i>
          Sexe: {{patient.gender}}
      </span>
    </div>
  </div>
  <div *ngIf="patient.antecedants.length > 0 ">
    <div *ngFor="let antecedant of patient.antecedants">
      <div class="card">
        <div class="content">
          <div class="header">Medical Observation</div>
          <div class="description">
            <p *ngIf="antecedant.type">Type: {{antecedant.type}}</p>
            <p *ngIf="antecedant.medicals">Medicals: {{antecedant.medicals}}</p>
            <p *ngIf="antecedant.surgical">Surgical &amp; Gynecological: {{antecedant.surgical}}</p>
            <p *ngIf="antecedant.treatment">Description: {{antecedant.treatment}}</p>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic button" (click)="antecedantUpdate()">
              <i class="write icon"></i>
              Update Antecedant
            </div>
            <div class="ui basic red button" (click)="antecedantDel()">
              <i class="trash icon"></i>
              Delete Antecedant
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <antecedant-update [antecedant]="antecedant" *ngIf="antecedant == 'update'"></antecedant-update>
        <antecedant-del [antecedant]="antecedant" *ngIf="antecedant == 'del'"></antecedant-del>
      </div>
    </div>
  </div>
  <div *ngIf="patient.antecedants.length == 0 ">
    <br><br>
    <div class="ui bottom attached button" tabindex="0" (click)="antecedantAdd()">
      Add Antecedant
    </div>
    <div class="card">
      <antecedant-add *ngIf="antecedant == 'add'"></antecedant-add>
    </div>
  </div>
</div>